In [5]:
t = (i for i in range(1,5+1))
print("The tuple is: ",end="")
for i in t:
    print(i,end=" ")

The tuple is: 1 2 3 4 5

In [11]:
t = (1,2,3,4,5)
print("The third element of tuple: ",t[2])

The third element of tuple:  3

In [12]:
t = (1,2,3,4,5)
count = 0
for i in t:
    count += 1
print("The number of elements in tuple: ",count)

The number of elements in tuple:  5

In [14]:
t = (1,2,1,3,5,4,3)
ele = 3
print(f"The number of occurrence of {ele} is: ",t.count(ele))

The number of occurrence of 3 is:  2

In [17]:
t = (1,3,5,4,2)
ele = 2
print(f"The index of occurrence of {ele} is: ",t.index(ele)+1)

The index of occurrence of 2 is:  5

In [19]:
t = (1,2,3,4,5)
if 7 in t:
    print(f"The element is present in the tuple")
else:
    print("The element is not present in the tuple")

The element is not present in the tuple

In [20]:
t = (1,2,3,4,5)
print("After conversion: ",list(t))

After conversion:  [1, 2, 3, 4, 5]

In [21]:
l = [1,2,3,4,5]
print("After converting: ",tuple(l))

After converting:  (1, 2, 3, 4, 5)

In [23]:
a = 1
b = 2
c = 3
t = a,b,c
print(t)

(1, 2, 3)

In [24]:
t = (1,2,3,4,5)
a,b,c,d,e = t
print("The unpack elements are: ",a,b,c,d,e)

The unpack elements are:  1 2 3 4 5

In [27]:
t = (i for i in range(1,11) if i%2 == 0)
print("The tuple of even numbers are: ",end="")
for i in t:
    print(i,end=" ")

The tuple of even numbers are: 2 4 6 8 10

In [28]:
t = (i for i in range(1,11) if i%2 != 0)
print("The tuple of even numbers are: ",end="")
for i in t:
    print(i,end=" ")

The tuple of even numbers are: 1 3 5 7 9

In [29]:
t1 = (1,2,3)
t2 = (4,5,6)
t = t1 + t2
print(t)

(1, 2, 3, 4, 5, 6)

In [30]:
t = (1,2,3,4)
t = t * 3
print(t)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [1]:
t = ()
if len(t) == 0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

In [2]:
t = (1,(2,3),(4,5,6))
print(t)

(1, (2, 3), (4, 5, 6))

In [5]:
t = (1,(2,3),(4,5,6))
print(t[0])
print(t[1])

1
(2, 3)

In [7]:
t = 1,
print(type(t))
print(t)

<class 'tuple'>
(1,)

In [11]:
t1 = (1,2,3)
t2 = (1,2,3,4,5)
if t1 == t2:
    print("They are same")
else:
    print("They are not same")

They are not same

In [17]:
# delete a tuple
t = (1,2,3)
print(t)
del t
print(t)

(1, 2, 3)

NameError: name 't' is not defined

In [19]:
t = (1,2,3,4,5,6,7,8,9,10)
print(t[1:3])

(2, 3)

In [21]:
t = (1,2,3,4,5,6,7,8,9,10)
print(max(t))
print(min(t))

10
1

In [24]:
string = "hello"
print(tuple(string))

('h', 'e', 'l', 'l', 'o')

In [31]:
t = ('h', 'e', 'l', 'l', 'o')
string = ''.join(t)
print(string)

hello

In [33]:
a = "Anit"
b = 2
c = 3.4
d = True
e = 'a'
t = a,b,c,d,e
print (t)

('Anit', 2, 3.4, True, 'a')

In [35]:
t = (2,1,5,6,9,3)
print(sorted(t))

[1, 2, 3, 5, 6, 9]

In [36]:
t = (1,2,3,4,5,6,7,8,9,10)
print(str(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)