In [1]:
print("Hello World")
print(2+3)

Hello World
5

In [12]:
a,b,c,d=10,30.1,"Hello",True

print(a+b)

type(d)

40.1

bool

In [11]:
a=int(input("Enter the 1st num: "))
b=int(input("Enter the 2nd num: "))
c=a+b
print("The output is:" , c)

Enter the 1st num: 3
Enter the 2nd num: 2
The output is: 5

In [13]:
a=int(input("Enter the 1st num: "))
b=int(input("Enter the 2nd num: "))
c=a
a=b
b=c
print("The 1st num:" ,a)
print("The 2nd num:" ,b)

Enter the 1st num: 3
Enter the 2nd num: 2
The 1st num: 2
The 1st num: 3

In [14]:
x=int(input("Enter the 1st num: "))
y=int(input("Enter the 2nd num: "))
x = x + y
y= x - y
x =x - y
print("The 1st num:" ,x)
print("The 2nd num:" ,y)

Enter the 1st num: 3
Enter the 2nd num: 2
The 1st num: 2
The 2nd num: 3

In [15]:
a=2+4j
type(a)

complex

In [17]:
a="Anit"
b="Halder"
print("Anit"+ b)

AnitHalder

In [19]:
a="""Anit
    Halder
    Student"""
print(a)

Anit
    Halder
    Student

In [29]:
l=[1,2,3,4.7,"Anit",[10,20]]

print(list[5])
type(l)

[10, 20]

list

In [31]:
l={1,2,5,1,6,3,2,5,6}

print(l)
type(l)

{1, 2, 3, 5, 6}

set

In [33]:
data={1:"Anit",2:"Arpan",3:"Ajoy"}
print(data[2])

Arpan

In [35]:
a,b=2,3
print(a**b)

8